* {
  margin: 0;
  padding: 0;
}
body {
  padding: 10px;
  background-color: #f5f5fa;
  color: #222;
}
h2 {
  margin-bottom: 20px;
  font-family: 'Helvetica';
  font-weight: 400;
}
.App {
  font-family: 'Helvetica';
  font-weight: 200;
  text-align: left;
  width: 400px;
}
input {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  width: 300px;
}
